<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav mat-elevation-z19" mode="side">
        <img src="assets/img/side-image.svg" alt="Imagem de Navegação">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="home" class="mat-elevation-z1">
                <i class="material-icons">home</i>
                Home
            </a>
            <a mat-list-item routerLink="tecnicos" class="mat-elevation-z1">
                <i class="material-icons">account_circle</i>
                Técnicos
            </a>
            <a mat-list-item routerLink="clientes" class="mat-elevation-z1">
                <i class="material-icons">person</i>
                Clientes
            </a>
            <a mat-list-item routerLink="chamados" class="mat-elevation-z1">
                <i class="material-icons">support</i>
                Chamados
            </a>
            <a mat-list-item href="https://github.com/Alexandre1313/helpdesk-front"
                target="_blank" class="mat-elevation-z1">
                <i class="material-icons">code</i>
                Github
            </a>
            <a mat-list-item (click)="logout()" class="mat-elevation-z1">
                <i class="material-icons">logout</i>
                Logout
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <app-header></app-header>
        <button class="menu mat-elevation-z9" (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>
