.conteiner0 {
    width: 58%;
    margin: auto;
}
.conteiner {
    width: 96%;
    margin: auto;
    border-radius: 2%;
    align-items: center;
    background: linear-gradient(169deg, rgba(2,0,36,1) 0%, rgba(23,218,81,0) 0%, rgba(23,194,218,0.4181022750897234) 100%);
}
h1 {
    width: 100%;
    text-align: center;
}
.full-width {
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    opacity: 1;
}
.full-width1 {
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 4%;
    opacity: 1;
}
.status-priority {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
}
.status-priority mat-form-field {
    width: 49%;
}
.technician {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
}
.technician mat-form-field {
    width: 49%;
}
.text-area mat-form-field {
    width: 97%;
    margin-left: 1%;
}
.description {
    max-height: 6rem;
    min-height: auto;
}
.btn1 {
    width: 98%;
    margin-bottom: 1%;
    margin-left: 1%;
    color: white;
    background-color: black;
}
.btn {
    width: 98%;
    margin-bottom: 1%;
    margin-left: 1%;
    background: linear-gradient(169deg, rgba(232,134,134,1) 100%, rgba(236,245,244,0.48783263305322133) 100%);
}
.hg {
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;
    opacity: 1;
}
