<div class="container">
    <h1>Excluir cliente</h1>
    <div class="container2 mat-elevation-z9">
        <form class="form">
            <img src="assets/img/side-image.svg" alt="Imagem tácnico update">
            <section class="section">
                <mat-checkbox [disabled]="true" class="margin"
                color="primary">Administrador</mat-checkbox>
                <mat-checkbox  [disabled]="true" class="margin" 
                color="primary">Técnico</mat-checkbox>
                <mat-checkbox  [disabled]="true" class="margin" 
                color="primary">Cliente</mat-checkbox>
            </section>
            <p>
                <mat-form-field class="fullwidth1" appearance="legacy">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Ex..Name Lastname"
                    [disabled]="true"
                    [(ngModel)]="client.name"
                    name="name">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="fullwidth" appearance="legacy">
                    <mat-label>CPF</mat-label>
                    <input matInput placeholder="Ex..123.456.789-99"
                    [disabled]="true"
                    mask="000.000.000-00"
                    [(ngModel)]="client.itin"
                    name="itin">
                    <mat-icon matSuffix>pin</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="fullwidth" appearance="legacy">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="Ex..example@email.com"
                    [disabled]="true"
                    [(ngModel)]="client.email"
                    name="email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="fullwidth" appearance="legacy">
                    <mat-label>Senha</mat-label>
                    <input type="password" matInput placeholder="Ex..******"
                    [disabled]="true"
                    [(ngModel)]="client.password"
                    name="password">
                    <mat-icon matSuffix>lock_open</mat-icon>
                </mat-form-field>
            </p>
        </form>
        <button 
          (click)="delete()"
          mat-stroked-button class="btn mat-elevation-z9">Excluir</button>
        <button routerLink="../../" mat-stroked-button class="btn1 mat-elevation-z9"
        >Cancelar</button>
    </div>
</div>
